article{
	background-color: #e2e2e2;
	#app{
		width: 960px;
		max-width: 100%;
		margin:0 auto;
	}
} //app
.right{
	text-align: right;
}
.symbol{
	display: inline-block;
	text-align: center;
	width: 15px;
}

header{
	background-color: #26B7BC;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
	height: 40px;
	width: 100%;
	display: flex;
  justify-content: space-between;
	position: relative;
	font-size: 1.5rem;
	a, a:hover, a:visited, a:active{
		color: #fff;
		text-decoration: none;
	}
	.header_top{
		font-weight: bold;
		font-size: 25px;
		padding-left: 10px;
		display: inline-block;
		//width: calc( 100% - 165px );
	}
	.header_controller{
		display: flex;
		flex-wrap: wrap;
		padding-right: 10px;
	} 
	.header_button{
		display:inline-block;
		height:40px;
		width: 80px;
		margin: 0 3px 0 0;
		a{
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			font-size: 20px;
			line-height: 40px;
			text-align: center;
			&:active{
				background-color: #71babd;
			}
		}
	}
} 
@media screen and (max-width:380px) {
	header {
		height: 40px;
		.header_top{
			line-height: 40px;
			font-size: 1.1rem;
		}
		.header_button{
			height: 40px;
			width: 60px;
			margin-top: 0;
			a{
				padding-top: 0;
				font-size: 1rem;
			}
		}
	}
}
// header

footer{
	margin-top: 10px;
	padding-top: 20px;
	background-color: #fff;
	span{
		font-size: 0.6rem;
	}
	.footer_title{
		text-align: center;
	}
	.footer_links{
		.footer_link_item{
			display: inline-block;
			width: calc( ( 100% - 15px ) / 2 );
		}
	}
}//footer

.mutter_card{
	background-color: #fff;
	margin: 0px 10px 0 10px;
	//box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.336);
	min-height: 82px;
	padding: 20px;
	border-bottom: 1px solid #e2e2e2;
	// border-radius: 2px;
	.mutter_content{
		font-size: 1rem;
		white-space: pre-line;
	}
	.mutter_status{
		display: flex;
		justify-content: space-between;
		.mutter_nickname{
			font-size: 0.7rem;
		}
		.mutter_created_at{
			font-size: 0.7rem;
		}
	}
} //mutter_card

.new{
	background-color: #fff;
	margin: 0px 10px 0 10px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	#new_content{
		width: 100%;
		resize: none;
		border-radius: 5px;
		border-color: #26B7BC;
		font-size: 16px;
		&:focus{
			border-color: #26B7BC;
		}
	}
	.new_controll{
		width: 100%;
		display: flex;
		justify-content: space-between;
		.new_back_button{
			display: inline-block;
			padding: 6px 12px;
			border-radius: 2px;
			font-size: 20px;
			&:hover{
				background-color: #e6e6e6;
			}
		}
		#send{
			display: inline-block;
			border: none;
			padding: 6px 12px;
			border-radius: 2px;
			background-color: #26B7BC;
			color: #fff;
			font-weight: bold;
			font-size: 20px;
		}
		#send.sended{
			background-color: gray;
			color: #fff;
		}
	}
}
form{
	display: flex;
	flex-wrap: wrap;
	.nickname_input{
		width: calc( 100% - 76px ) !important;
	}
	.send{
		display: inline-block;
		border: none;
		padding: 6px 12px;
		border-radius: 2px;
		background-color: #26B7BC;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		height: 32px;
		margin-left: 2px;
	}
}
